body {
    background-color: #E1C9A0;
}

a:link {
    color: whitesmoke;
}


nav.navbar {
 color: whitesmoke; 
 font-variant: small-caps;
 font-size 60px;
 float: center;
}

a:visited {
    color: #00FF00
}

.nav-link:hover {
    background-color: whitesmoke;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

.footer-item-flex {
  flex: 0 1 auto;
}
